.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
portfolio-manager/.env
/data/*.db
/data/
/data/*.sqlite
/data/*.sqlite3
/data/*.db-wal
/data/*.db-shm
/data/*.db-journal
/data/*.sqlite-wal
/data/*.sqlite-shm
/data/*.sqlite-journal
/data/*.sqlite3-wal
/data/*.sqlite3-shm
/data/*.sqlite3-journal
/data/*.zip
/data/*.sources/
**.sqlite3.sources/

# Data
*.xls
*.xlsx
*.csv

tests/
test/
specs/
spec/
__tests__/
test_*
*_test.*
*_tests.*
spec_*
*_spec.*
*_specs.*
*.test.*
*.spec.*
