.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
portfolio_manager.db

# Data
*.xls
*.xlsx
*.csv

tests/
test/
specs/
spec/
__tests__/
test_*
*_test.*
*_tests.*
spec_*
*_spec.*
*_specs.*
*.test.*
*.spec.*